mixin s-cases()
	// start s-cases
	+b.s-cases.block-with-lazy#s-cases&attributes(attributes)
		.section
			.container
				+b.section-title.text-center(class="wow fadeInUp" data-wow-duration=`${dur * 2}s`)
					+e.text.text-warning Кейсы
					h2 Мы&nbsp;упаковали огромное
						|
						span.underline  количество компаний, вот некоторые из&nbsp;них
		+e.slider--js.swiper-container(class="wow fadeInUp" data-wow-duration=`${dur * 2}s`)
			.swiper-wrapper
				mixin slide(a, lSm, rSm, d,l,r,i,t,p, ...items)
					+e.slide.swiper-slide(class=`s-cases__slide--${i}`)
						+e.bg.img-bg
							img.lazy-bg(src="#" data-src=`img/cases/slide-${i}-bg.jpg`, alt="")
						+e.container.container
							+e.caption
								+e.title= t
								+e.labels
									each item in items
										+e.label= item
								+e.text.d-none.d-md-block= p
								+e.control--left
								+e.control--right
								+e.btn(href= a target="_blank") Смотреть кейс 
							+e.img--phone
								img.lazy(src="#" data-src=`img/cases/slide-${i}-phone.png`, alt="")
									
							if d
								+e.img--desktop.d-none.d-lg-block
									img.lazy(src="#" data-src=`img/cases/slide-${i}-${d}.png`, alt="")
							
							if l
								+e.img--left
									img.lazy(src="#" data-src=`img/cases/slide-${i}-${l}.png`, alt="")
							if lSm
								+e.img--left.--sm.d-lg-none
									img.lazy(src="#" data-src=`img/cases/slide-${i}-${lSm}.png`, alt="")
							
							if r
								+e.img--right
									img.lazy(src="#" data-src=`img/cases/slide-${i}-${r}.png`, alt="")
							if rSm
								+e.img--right.--sm.d-lg-none
									img.lazy(src="#" data-src=`img/cases/slide-${i}-${rSm}.png`, alt="")
									
					// /+e.slide
				+slide("https://1pnk.com/","","right-sm","desktop","left-lg","right-lg","1","Первая нерудная компания","Адаптивный корпоративный сайт-каталог для официального представительства ЗАО «Могилевский комбинат силикатных изделий» в России.","Корпоративный сайт","Брендинг" )

				+slide("https://toucan.market/","","","desktop","left","right","2","TOUCAN","Адаптивный корпоративный сайт-каталог для официального представительства ЗАО «Могилевский комбинат силикатных изделий» в России.","Интернет-магазин","Брендинг" )
				
				+slide("https://www.snab-baza.ru/","","","","","","3","Техномаркет «БАЗА»","Адаптивный корпоративный сайт-каталог для официального представительства ЗАО «Могилевский комбинат силикатных изделий» в России.","Интернет-каталог","Брендинг","Корпоративный сайт") 
			.swiper-pagination
	// end s-cases