
mixin header-block()
	// start header-block
	+b.header-block#header-block(class="wow fadeIn" data-wow-duration=`${dur}s`  data-wow-delay=`${delay}s`) 
		.container
			+e.head.blockWithAnimate
				+e.logo.d-sm-none
					img.res-i.lazy(src="#" data-src="img/logo-dark.png", alt="")
				div(class="wow slideInUp" data-wow-duration=`${dur * 2}s` data-wow-delay=`${delay * 2}s`) 
					h1
						
						span.d-block Создаем имидж
						span.d-block лидера рынка
					+e.sub-title с помощью упаковки
					+e.text.d-none.d-sm-block Проведем детальный разбор текущего состояния упаковки вашего бизнеса, прежде чем внедрим в&nbsp;Ваш бизнес какой-либо инструмент.
					.blockWithAnimate.d-sm-none
						+e.foot(class="wow slideInUp" data-wow-duration=`${dur}s` data-wow-delay=`${delay + dur * 6}s`) 
							+e.foot-item Сайты
							+e.foot-item Брендинг
							+e.foot-item SMM
							+e.foot-item Реклама 
					+e.btn(href="#" class="wow slideInUp"  ) Стать лидером рынка
			.blockWithAnimate.d-none.d-sm-block
				+e.foot(class="wow slideInUp" data-wow-duration=`${dur}s` data-wow-delay=`${delay + dur * 6}s`) 
					+e.foot-item Сайты
					+e.foot-item Брендинг
					+e.foot-item SMM
					+e.foot-item Реклама  
	// end header-block