- let dur = .3
- let delay = .6
mixin header-block()
	// start header-block
	+b.header-block#header-block
		.container
			+e.head
				h1
					span.blockWithAnimate
						span.d-block(class="wow slideInUp" data-wow-duration=`${dur}s` data-wow-delay=`${delay}s`) Создаем имидж 
					span.blockWithAnimate
						span.d-block(class="wow slideInUp" data-wow-duration=`${dur}s` data-wow-delay=`${delay + dur}s`) лидера рынка
				+e.sub-title.blockWithAnimate
					span.d-block(class="wow slideInUp" data-wow-duration=`${dur}s` data-wow-delay=`${delay + dur * 2}s`) с помощью упаковки
				+e.text.blockWithAnimate
					span.d-block(class="wow slideInUp" data-wow-duration=`${dur}s` data-wow-delay=`${delay + dur * 3}s`) Проведем детальный разбор текущего состояния упаковки вашего бизнеса, прежде чем внедрим в&nbsp;Ваш бизнес какой-либо инструмент.
				+e.btn-wrap.blockWithAnimate
					+e.btn(href="#" class="wow slideInUp" data-wow-duration=`${dur}s` data-wow-delay=`${delay + dur * 4}s`) Стать лидером рынка
			+e.foot.blockWithAnimate(class="wow slideInUp" data-wow-duration=`${dur}s` data-wow-delay=`${delay + dur * 5}s`) 
				+e.foot-item Сайты
				+e.foot-item Брендинг
				+e.foot-item SMM
				+e.foot-item Реклама  
	// end header-block